#main__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#btn__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn,
#playerName {
	width: 50vw;
}

.hidden {
	display: none !important;
}

.flex__column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#gameInfo__wrapper {
	flex: 1 1 5vh;
	/* margin: 0 0 10px 0; */
}

@media screen and (orientation: portrait) {
	#gameField {
		width: 100vw;
		height: 100vw;
	}
}

@media screen and (orientation: landscape) {
	#gameField {
		width: 85vh;
		height: 85vh;
	}
}